@fonts-path: "../fonts";
@image-path: "../images";

@color-peter-river  : #3498DB;
@color-belize-hole  : #2980B9;
@color-red          : #E74C3C;
@color-orange       : #E67E22;
@color-sunflower    : #F1C40F;
@color-carrot       : #E67E22;
@color-pumpkin      : #D35400;
@color-alizarin     : #E74C3C;
@color-pomegranate  : #C0392B;
@color-emerald      : #2ECC71;
@color-nephritis    : #27AE60;
@color-amethyst     : #9B59B6;
@color-wysteria     : #8E44AD;
@color-wet-asphalt  : #34495E;
@color-midnight-blue: #2C3E50;
@color-clouds       : #ECF0F1;
@color-silver       : #BDC3C7;
@color-concrete     : #95A5A6;
@color-asbestos     : #7F8C8D;

@color-grey       : #F6F8FA;
@color-grey-2     : #F0F2F5;
@color-grey-3     : #E3E4E8;


