@font-face { .fontface(interstateregular, interstate_thin-webfont); }

h1 { border-bottom: 1px solid #DDD; padding-bottom: 15px; text-transform: Uppercase; font-family: Interstate, Arial, sans-serif; color: #0183B8; font-size:20px; }
h2 { font-size: 18px; }

.lh30 {line-height: 30px !important;}
.ml0 {margin-left:0;}
.mt10 {margin-top:10px;}

.w100p {width:100%;}

.dblock {display:block;}

.form-horizontal .form-group .help-block { list-style: none; padding: 0 0 0 13px; color: #E2624B; }
.form-control.form-control-text { border:none;box-shadow: none; }

ul.flash-messages { padding:0;
  li { padding:15px; list-style: none; }
}

// Colors
.color-text-peter-river {color:           #3498db;}
.color-back-peter-river {background-color:#3498db;}
.color-text-belize-hole {color:           #2980b9;}
.color-back-belize-hole {background-color:#2980b9;}
.color-text-red         {color:           #e74c3c;}
.color-back-red         {background-color:#e74c3c;}
.color-text-orange      {color:           #e67e22;}
.color-back-orange      {background-color:#e67e22;}
.color-text-sunflower   {color:           #f1c40f;}
.color-back-sunflower   {background-color:#f1c40f;}
.color-text-carrot      {color:           #e67e22;}
.color-back-carrot      {background-color:#e67e22;}
.color-text-pumpkin     {color:           #d35400;}
.color-back-pumpkin     {background-color:#d35400;}
.color-text-pumpkin     {color:           #e74c3c;}
.color-back-pumpkin     {background-color:#e74c3c;}
.color-text-pomegranate {color:           #c0392b;}
.color-back-pomegranate {background-color:#c0392b;}
.color-text-green       {color:           #2ecc71;}
.color-back-green       {background-color:#2ecc71;}
.color-text-emerald     {color:           #2ecc71;}
.color-back-emerald     {background-color:#2ecc71;}
.color-text-nephritis   {color:           #27ae60;}
.color-back-nephritis   {background-color:#27ae60;}
.color-text-amethyst    {color:           #9b59b6;}
.color-back-amethyst    {background-color:#9b59b6;}
.color-text-wysteria    {color:           #8e44ad;}
.color-back-wysteria    {background-color:#8e44ad;}

// Color notifications
.notification-link { font-size: 12px; }
.color-notification {
  &.color-100 { .color-text-emerald; }
//  &.color-200 { .color-text-nephritis; }
  &.color-200 { .color-text-pomegranate; }
}

// Popover skin
.popover { position: absolute; top: 0; left: 0; z-index: 1010; display: none; max-width: 600px; padding: 1px; text-align: left; white-space: normal; background-color: #ffffff; border: 1px solid #ccc; border: 1px solid rgba(0, 0, 0, 0.2); -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); -webkit-background-clip: padding-box; -moz-background-clip: padding; background-clip: padding-box;
  .popover-title i { font-weight: bold; .color-text-belize-hole; }
  .popover-content {
    ul { padding:10px;margin-bottom: 0;
      li { list-style: none;font-size: 12px; }
    }
  }
}
