@import "00_config.less";
@import "01_mixins.less";
@import "02_global.less";

.main { margin-top:100px; }
.site-logo { padding-top: 12px; padding-bottom: 12px; }
.pre-header { color: #FFF; background: #009EE0; a { color: #FFF; } a:hover { color: #FFF; } }
.bootstrap-timepicker-widget {z-index: 10052;}
.main { min-height: 800px; }