{% extends "BlagnacVolleyWebsiteBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Accueil{% endblock %}

{% block content %}
    <div class="col-sm-12">
        {{ 'homepage.welcome'|trans() }}
    </div>
{% endblock content %}
