{% extends 'BlagnacVolleyWebsiteBundle::layout.html.twig' %}

{% block title %}
    {{ 'header.title'|trans() }}
{% endblock %}

{% block content %}
    <h1>{{ 'content.intro'|trans() }}</h1>
    <div class="col-sm-12">

    </div>
{% endblock content %}
