{% for notification in notifications %}
    <li>
    {% set level = "constants.levels." ~ levels[notification.level] %}
    <a rel="popover" href="{{ path('admin_tools_log_systemlog_list') }}" class="notification-link">
        <i class="fa {{ notification.level == 100 ? 'fa-info' : 'fa-exclamation' }}"></i> {{ notification.nb }}
    </a>
    </li>
{% endfor %}