{% extends "FrontBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Accueil{% endblock %}

{% block content %}
    <h1>{{ 'homepage.welcome'|trans() }}</h1>

    {{ render(controller('FrontBundle:News:displayActives')) }}

{% endblock content %}
