{% extends "FrontBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Accueil{% endblock %}

{% block content %}
    <h1>{{ 'homepage.welcome'|trans() }}</h1>

    {{ render(controller('FrontBundle:News:displayDoodles')) }}

    <h2>Dernières News</h2>
    <br/>
    <div class="blog-posts">
        {{ render(controller('FrontBundle:News:displayActives')) }}
    </div>

{% endblock content %}
