{% extends "FrontBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Accueil{% endblock %}

{% block content %}
    <div class="col-sm-12">
        <p>{{ 'homepage.welcome'|trans() }}</p>
    </div>

    {{ render(controller('FrontBundle:News:displayActives')) }}

{% endblock content %}
