{% extends "FrontBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - {{ 'schedule.welcome'|trans() }} {% endblock %}

{% block content_row %}
    <h1>{{ 'schedule.welcome'|trans() }}</h1>

    {{ content|raw }}

{% endblock content_row %}
