{% extends "FrontBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Ecole de volley{% endblock %}

{% block content %}
    <h1>{{ 'volleyschool.welcome'|trans() }}</h1>



{% endblock content %}
