{% if object.type == constant('\\Tools\\LogBundle\\Entity\\SystemLog::TYPE_USER_LICENSE_RENEWAL') %}
    <a class="btn btn-sm btn-primary" href="{{ admin.generateObjectUrl('validateFile', object) }}" style="display:block;">Accepter</a>
    <a class="btn btn-sm btn-danger" href="{{ admin.generateObjectUrl('refuseFile', object) }}" style="display:block;">Refuser</a>
{% else %}
    <a class="btn btn-sm btn-primary" href="{{ admin.generateObjectUrl('markHasRead', object) }}">Marquer comme lu</a>
{% endif %}
