<a class="btn btn-sm btn-primary" href="{{ admin.generateObjectUrl('markHasRead', object) }}">Marquer comme lu</a>
<a class="btn btn-sm btn-danger" href="{{ admin.generateObjectUrl('delete', object) }}">Supprimer</a>
