{% extends "FrontBundle:Volleyschool:block.html.twig" %}

{% block panel_heading %}
    <div class="panel-heading">
        {{ title }}
        <span class="label label-sm label-success pull-right"><span class="badge">{{ nb[0][type] }}</span> Inscrits dans ce groupe</span>
    </div>
{% endblock panel_heading %}

{% block panel_body_cms %}
{% endblock panel_body_cms %}